
#profile_container
  #profile_form
    %h2
      = current_user.claimed? ? "Edit" : "Claim"
      your account
    - form_for @user do |f|
      .row
        .field_name Name
        .field_value= f.text_field :name
      .row
        .field_name Email
        .field_value= f.text_field :email
      .row
        .field_name Website
        .field_value= f.text_field :website
      .row
        .field_name Blog
        .field_value= f.text_field :blog
      .row
        .field_name &nbsp;
        .field_value= f.submit

  #profile_vurls
    %h2 My Vurls
    - if @user.vurls.any?
      %li
        - @user.vurls.each do |vurl|
          %li
            = link_to vurl.title, vurl.url
            == (#{vurl.clicks_count} clicks)
    - else
      You haven't created any vurls yet!
